body {
  background: rgba(24, 24, 27, 1);
}
.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(24, 24, 27, 1);
}

.signup-container {
  position: relative;
  width: 300px;
  padding: 30px;
  border-radius: 10px;

  text-align: center;
}

.signup-page p {
  margin-bottom: -6px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
}

.signup-form .form-input {
  padding: 12px;
  margin: 10px 0 0 0;
  background-color: rgba(24, 24, 27, 1);
  font-size: 1rem;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: rgba(196, 196, 196, 1);
  width: 313.97px;
  border-radius: 12px;
}

.form-button {
  width: 337.97px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px 0px rgba(233, 68, 75, 0.25);
  background: rgba(26, 95, 255, 1);
  height: 41px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
}

.form-button:hover {
  background-color: #0056b3;
}

.or {
  margin: 12px;
  margin-left: 50px;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.google-button {
  width: 337.97px;
  height: 41px;
  background-color: rgba(26, 95, 255, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border-style: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  box-shadow: 0px 4px 4px 0px rgba(233, 68, 75, 0.25);
}

.google-icon {
  width: 20px;
  height: 20px;
}

.form-footer {
  margin-top: 20px;
  margin-left: 40px;
}

.form-link {
  color: #007bff;
  text-decoration: none;
}

.form-link:hover {
  text-decoration: underline;
}

.decorative-triangle {
  position: absolute;
  top: 90px;
  left: -450px;
}

.side-circle {
  position: fixed; 
  top: 50px;          
  right: 0;       
  margin: 0;      
}



.bottom-circle {
  position: fixed; 
  bottom: 0;      
  right: 280px;       
  margin: 0;      
}

.signup-form .error-message {
  color: #ff0000; 
  font-size: 14px; 
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

/* Error border for input fields */
.signup-form .error-border {
  border: 1px solid rgba(255, 39, 39, 0.5)
}

.signup-form .error-text {
  color: #ff0000; /* Make text red */
  font-weight: bold; /* Optional: make it bold */
}
